/* Slider */

.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list
{
  background: #fff url(/assets/slick/ajax-loader-e7b44c86b050fca766a96ddac2d0932af0126da6f2305280342d909168dcce6b.gif) center center no-repeat;
}

/* Icons */
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url(/assets/slick-06d80cf01250132fd1068701108453feee68854b750d22c344ffc0de395e1dcb.eot);
  src: url(/assets/slick-06d80cf01250132fd1068701108453feee68854b750d22c344ffc0de395e1dcb.eot?#iefix) format('embedded-opentype'),
  url(/assets/slick-26726bac4060abb1226e6ceebc1336e84930fe7a7af1b3895a109d067f5b5dcc.woff) format('woff'),
  url(/assets/slick-37bc99cfdbbc046193a26396787374d00e7b10d3a758a36045c07bd8886360d2.ttf) format('truetype'),
  url(/assets/slick-8ca11b5fcbff92ee6378017cf6832dddfa745253202d7c8d01f42d5d17c4cb5c.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: -25px;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.slick-prev:before
{
  content: '←';
}
[dir='rtl'] .slick-prev:before
{
  content: '→';
}

.slick-next
{
  right: -25px;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}
.slick-next:before
{
  content: '→';
}
[dir='rtl'] .slick-next:before
{
  content: '←';
}

/* Dots */
.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}
/* line 6, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* line 10, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
h6 {
  font-size: 0.8rem !important;
}

/* line 13, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.btn {
  border-radius: 0 !important;
}

/* line 27, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.title-catalogo {
  font-size: 2rem;
  color: white;
  text-align: center;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

/* line 52, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.pro-box {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 10px;
  box-shadow: 0px 0px 2px #c8c8c885;
}

/* line 58, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.button-download-pdf {
  padding: 10px;
  background-color: #d21b1b;
  color: white;
  transition: all .8s;
  display: inline-block;
  margin-top: 10px;
}

/* line 66, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.button-download-pdf:hover {
  padding: 12px;
  background-color: #ff4848;
}

/* line 76, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.header .header-row {
  background: linear-gradient(to right, #474747, #272727);
}
/* line 79, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.header .logo {
  width: 18rem;
}
/* line 82, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.header .header-text {
  text-align: center;
  color: #f8f8f8;
}

/* line 91, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.elegant {
  box-shadow: 1px 1px 2px #070707;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 99, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.bkg-full-pro {
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 104, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.bkg-full-pro .ghost {
  opacity: 0;
  filter: alpha(opacity=50);
}

/* line 110, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.bkg-1 {
  background-image: url(/assets/catalogo-6119264a44f4a727ddbf5253aa9554cd0d87c8c2e627c78f3637f00833bd8646.jpg);
}

/* line 113, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
div {
  overflow: hidden;
}

/* line 116, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.parent-link:hover .link-to-projects {
  transform: scale(1.02);
  overflow: hidden;
}

/* line 122, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.link-to-projects {
  transition: all .8s;
}

/* line 129, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 134, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper h3 {
  position: absolute;
  left: 0;
  bottom: 2%;
  padding: 5%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.78);
  font-size: 2rem;
  box-sizing: border-box;
}
/* line 146, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper h4 {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 1%;
  padding: 3%;
  width: 80%;
  color: #FFF;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.78);
  font-size: 1vw;
  box-sizing: border-box;
  -webkit-transition: bottom 0.3s;
  /* Safari */
  transition: bottom 0.3s;
  -webkit-transition: box-shadow 0.3s;
  /* Safari */
  transition: box-shadow 0.3s;
}
/* line 163, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper h4:hover {
  bottom: 2%;
  box-shadow: 1px 1px 2px 1px #474747;
}

/* line 172, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.demo {
  border: 1px solid white;
  height: 300px;
}

/* line 179, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.product-carousel .carousel-pro, .product-carousel .slick-list, .product-carousel .slick-track {
  height: 100% !important;
}
/* line 181, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.product-carousel .carousel-pro .caption-product, .product-carousel .slick-list .caption-product, .product-carousel .slick-track .caption-product {
  background-color: #ffffffb5;
  width: 100%;
  padding: 5%;
  height: 6rem;
  text-align: center;
  transition: all .8s;
}
/* line 189, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.product-carousel .carousel-pro .caption-product h5, .product-carousel .slick-list .caption-product h5, .product-carousel .slick-track .caption-product h5 {
  font-size: .8rem !important;
}
/* line 193, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.product-carousel .carousel-pro .caption-product:hover, .product-carousel .slick-list .caption-product:hover, .product-carousel .slick-track .caption-product:hover {
  height: 7rem;
}

/* line 201, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
nav {
  background: linear-gradient(to right, #474747, #272727);
}
/* line 203, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
nav .nav-logo {
  width: 8rem;
}
/* line 206, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
nav .mh3-brand-box {
  border-right: 1px solid #c8c8c8;
}
/* line 210, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
nav .logos-list ul {
  margin: 10px auto !important;
}
/* line 212, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
nav .logos-list ul li {
  list-style: none !important;
}

/* line 219, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
body {
  background: linear-gradient(to left, #474747, #272727);
}

/* line 228, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.logo-box {
  text-align: center;
}

/* line 233, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.middle-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 239, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mr-top {
  margin-top: 10px;
}

/* line 243, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mr-bot {
  margin-bottom: 10px;
}

/* line 247, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mr-right {
  margin-right: 10px;
}

/* line 251, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.no-pad {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 255, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.pad-r {
  padding-left: 0px !important;
}

/* line 259, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.logo-caption {
  width: 4rem !important;
}

/* line 262, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(33, 33, 33, 0.5);
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
/* line 270, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption .caption-box {
  text-align: center;
}
/* line 272, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption .caption-box p {
  text-align: center;
}
/* line 276, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption img {
  width: 6rem;
}

/* line 286, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption {
  text-align: left !important;
}
/* line 288, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.carousel-caption p {
  text-align: justify;
}

/* line 306, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mh3-home {
  background: linear-gradient(white, #d8d8d8);
}
/* line 308, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mh3-home .logo {
  width: 18rem;
}

/* line 312, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mh-main-info {
  color: white;
  border-top: 1px solid #c8c8c8;
}
/* line 315, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.mh-main-info p {
  padding: 10px;
}

/* line 322, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper-mh3 {
  position: relative;
  box-sizing: border-box;
  background-image: url(/assets/Ortuzar2.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 330, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper-mh3 .ghost {
  opacity: 0;
  filter: alpha(opacity=50);
}
/* line 336, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper-mh3 .cap {
  position: absolute;
  left: 0;
  bottom: 2%;
  padding: 5%;
  width: 100%;
  height: 30%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.78);
  box-sizing: border-box;
  text-align: right;
}
/* line 347, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.image-wrapper-mh3 .cap img {
  width: 200px;
}

/* line 357, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px;
  color: #8e8585 !important;
  font-size: 40px !important;
  font-weight: bolder !important;
}
/* line 368, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
figcaption ul li {
  display: inline-block;
}

/* line 373, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.figure {
  margin: 0px !important;
}

/* line 377, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.link-img {
  position: relative !important;
}

/* line 381, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.lumi-link {
  display: inline-block !important;
  text-align: center !important;
}

/* line 389, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer {
  color: white;
  font-size: .8rem;
}
/* line 390, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer a {
  color: white !important;
}
/* line 393, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer a:hover {
  color: #565656;
}
/* line 398, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer h3 {
  font-size: 1rem;
  color: #c8c8c8;
}
/* line 405, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer .colum-a {
  padding: 2%;
  border-right: 1px solid #272727;
  text-align: left;
}
/* line 412, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer .colum-b {
  text-align: center;
}
/* line 414, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer .colum-b img {
  width: 12rem;
}
/* line 418, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer .colum-c {
  text-align: right;
  border-left: 1px solid #272727;
}

/* line 429, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.footer-bottom {
  background: #464646b0;
  padding: 2em;
}

/* line 433, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.footer-top {
  background: #c8c8c8;
}

/* line 436, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.footer-middle {
  background: #464646b0;
  padding: 2em 3em;
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

/* line 442, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.footer-pad {
  width: 100% !important;
}

/* line 445, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.logos-footer {
  text-align: right;
  list-style: none !important;
}
/* line 449, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.logos-footer li {
  display: inline-block;
}

/* line 455, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.metal-line {
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #e8e8e8;
}

/* line 462, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
footer {
  background-color: #272727;
}

/* line 471, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.about-container {
  background: linear-gradient(to bottom right, white, #c8c8c8);
}
/* line 473, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.about-container .about-info {
  padding: 20px;
  color: #575757;
  text-align: justify;
}
/* line 477, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.about-container .about-info img {
  width: 15rem;
}

/**Sub Navigation**/
/* line 485, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.subnavigation-container {
  background: #3d6277;
}

/* line 488, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.subnavigation .nav-link {
  color: white;
  font-weight: bold;
}

/* line 492, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.subnavigation-container {
  text-align: center;
}

/* line 495, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.subnavigation-container .navbar {
  display: inline-block;
  margin-bottom: -6px;
  /* Inline-block margin offffset HACK -Gilron */
}

/* line 499, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.col-subnav a {
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}

/* line 504, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.col-subnav .active {
  border-top: 5px solid orange;
  background: white;
  color: black;
}

/* line 510, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.card {
  border-radius: 0px !important;
  bottom: 0px;
  transition: all .6s;
}
/* line 514, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.card .card-img-box {
  position: relative;
  width: 100%;
  height: 15rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  margin: 0 auto;
}
/* line 518, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.card .card-body .btn {
  border-radius: 0 !important;
}

/* line 525, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.card:hover {
  box-shadow: 0px 0px 6px #c8c8c885;
  position: relative;
  bottom: 3px;
}

/* line 531, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.cat-menu {
  position: fixed;
}
/* line 533, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.cat-menu .menu-cat-col {
  border-right: 1px solid #c8c8c8;
}

/* line 539, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.w-body {
  background: linear-gradient(white, #d8d8d8);
  padding: 10px 0px 10px 0px;
}

/* line 545, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.show-product figure {
  padding: 10px;
}
/* line 551, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.show-product ul {
  list-style: none !important;
  margin: 10px;
}
/* line 554, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/pages.scss.erb */
.show-product ul li {
  border-bottom: 1px solid #c8c8c8;
  padding: 5px;
}
/* CSS for the loading div */
/* line 9, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* line 13, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.product-show {
  background: linear-gradient(white, #d8d8d8);
  padding: 0px 20px 0px 20px;
}
/* line 16, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.product-show .product-title-show {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #474747;
}
/* line 23, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.product-show ul h5 {
  font-weight: bolder;
  font-size: 1rem;
  color: #65b0ff;
}
/* line 28, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.product-show ul .list-group-item {
  background: none !important;
}
/* line 31, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.product-show ul .precio {
  font-weight: bolder;
  font-size: 1.8rem;
}

/* line 39, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-loading {
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border: 5px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #888;
}

/* Element wrapper */
/* line 51, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-wrap {
  display: none;
  line-height: 0;
  font-size: 0;
  background: #eee;
  border: 5px solid #eee;
  border-radius: 3px;
  position: relative;
  margin: 0 25px 15px 0;
  float: left;
  /**************
    Set max-width to your thumbnail width
  ***************/
  /*max-width: 300px;*/
}

/* Thumbnails */
/* line 70, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-thumbs {
  text-align: left;
  display: inline-block;
}

/* line 74, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-thumbs img {
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
}

/* line 79, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-thumbs a:link, .sp-thumbs a:visited {
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .3;
  display: inline-block;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/* line 93, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-thumbs a:hover {
  opacity: 1;
}

/* Styles for the currently selected thumbnail */
/* line 99, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-thumbs a:active, .sp-current {
  opacity: 1 !important;
  position: relative;
}

/* Image currently being viewed */
/* line 106, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-large {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

/* line 112, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-large a img {
  max-width: 100%;
  height: auto;
}

/* line 116, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-large a {
  display: block;
}

/* Panning Zoomed Image */
/* line 122, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-zoom {
  position: absolute;
  left: -50%;
  top: -50%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: none;
}

/* Lightbox */
/* line 133, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  z-index: 500;
  display: none;
  cursor: pointer;
}

/* line 145, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
.sp-lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
}

/* line 156, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-prev, #sp-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 501;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  background: #000;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: .2s;
}

/* line 172, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-prev {
  left: 10px;
}

/* line 175, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-prev:before {
  content: '';
  border: 7px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  top: 16px;
  left: 7px;
}

/* line 183, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-next {
  right: 10px;
}

/* line 186, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-next:before {
  content: '';
  border: 7px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 16px;
  left: 18px;
}

/* line 194, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
#sp-prev:hover, #sp-next:hover {
  background: #444;
}

/* Tweak styles for small viewports */
@media screen and (max-width: 400px) {
  /* line 201, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
  .sp-wrap {
    margin: 0 0 15px 0;
  }

  /* line 204, /Users/rgalazb/trabajos/oxweb/app/assets/stylesheets/products.scss */
  #sp-prev, #sp-next {
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.




 */

