


<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">
    </div>
  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
            <a href="https://www.asech.cl/noticias/entrevista-alejandro-huberman-socios-fundador-ox-limitada/" target="_blank">

              <figure class="figure ">
              <%= image_tag 'asech-logo.png', class: 'figure-img img-fluid ' %>
              </figure>



            </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Contacto</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">contacto@ox.cl</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-pad">

        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <%= image_tag 'Logo-02.png',class:'img-fuild',width:'200px' %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2018 - Ox Chile</p>
        </div>
      </div>
    </div>
  </div>
</footer>
