<footer class="container-fluid mr-top">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <ul>
        <a href=""><li>Page1</li></a>
        <a href=""><li>Page2</li></a>
        <a href="">
          <li>Productos
            <ul>
              <a href=""><li>Categoria 1</li></a>
              <a href=""><li>Categoria 1</li></a>
              <a href=""><li>Categoria 1</li></a>
              <a href=""><li>Categoria 1</li></a>
            </ul>
          </li>
        </a>
        <a href=""><li>Contacto</li></a>
      </ul>
    </div>
    <div class="col-md-4 logo-box  align-self-center">
      <img src="img/logo.png" class="footer-logo" alt="">
    </div>
  </div>
</footer>
