<div class="container ">
  <div class="row">
    <div class="col-md-12 no-pad mt-3 elegant parent-link">
      <div class="link-to-projects">
        <figure class="figure">
          <%= image_tag 'slide13.png', class: 'img-fluid' %>
          <a href="http://lumichile.com/" target="_blank">
            
            <figcaption class="figure-caption lumi-link row">
              <ul>
                <li class="pl-5">
                  <h5>Otra empresa </h5>
                </li>
                <li class="pl-5">
                  <figure class="figure">
                    <%= image_tag 'logomh3.png', class: 'figure-img img-fluid', width:'90rem' %>
                  </figure>

                </li>
                <li class="pl-5">
                  <button class="btn btn-outline-warning btn-lg">
                    Ver Mas
                  </button>
                  
                </li>
              </ul>

            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>