
<% if @orders.size == 0 %>
  <h4>No tienes productos para cotizar</h4>
  <h5>vuelve al catalogo para agregar <%= link_to 'catalogo', pages_catalogue_path %></h5>
<% else %>
<div class="container text-light mt-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.tipo %></td>
          <td><%= order.quantity %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col col s3">
      <%= link_to 'Cotizar', '#', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<% end %>
