<div class="container-fluid about-container mt-3">
	<div class="row elegant">
		<div class="offset-md-1 col-md-7 about-info mt-3">
			<p>
				<h3>Sobre Ox</h3>
				<br>
				Es una empresa de importación y comercialización de accesorios, principalmente de acero
				inoxidable que se incorporan en baños, cocinas y otros espacios de una vivienda, tales como
				barras de closet, topes de puerta, etcétera. La idea es que los espacios donde vivimos cuenten con
				“comodidades utilitarias” que nos ayuden a vivir un día a día más ordenado y organizado de
				manera orgánica y natural.

				<br><br>

				La idea nace de otro emprendimiento llamado Lumi Limitada, la cual lleva un par de años de
				funcionamiento, y que importa y comercializa luminarias, especialmente para el rubro
				inmobiliario. Viendo la experiencia de Lumi nos pudimos percatar de la necesidad las empresas
				constructoras de contar con proveedores que les den atención personalizada, no sólo luminarias
				para sus proyectos, sino también de otros accesorios que podemos encontrar en baños, cocinas,
				closet, etc. pero con un servicio de venta y postventa dedicado. Entonces se nos ocurrió crear un
				grupo, grupo MH3, para poder desarrollar ventajas competitivas y economías de escala tanto en la
				atención a clientes, publicidad, logística, procesos de importación y búsqueda de proveedores.

				<br><br>
				<h3>Calidad y Compromiso</h3>

				<br>

				Ponemos mucho foco en la calidad del producto y en el servicio que entregamos al cliente. Nos
				tomamos muy en serio los plazos estipulados, además de un servicio rápido y sin tropiezos tanto
				en venta como postventa.
			</p>
			<a href="https://www.asech.cl/noticias/entrevista-alejandro-huberman-socios-fundador-ox-limitada/" target="_blank">
				<button class="mb-3 btn btn-outline-success">Leer Entrevista</button>
				<figure class="figure ">
				<%= image_tag 'asech-logo.png', class: 'figure-img img-fluid ' %>
				</figure>
				
				
			</a>
		</div>
		<div class="col-md-4 mt-3 middle-align ">
			<figure class="figure ">
				<%= image_tag 'logo.png', class: 'figure-img img-fluid ' %>
			</figure>
			
		</div>
	</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 no-pad mt-3 elegant">
      <div class="">
        <figure class="figure">
          <%= image_tag 'slide11.png', class: 'img-fluid' %>
          <a href="">
            <figcaption class="figure-caption lumi-link">
              <button class="btn btn-outline-warning btn-lg">
                Ver Mas
              </button>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
