<%= render 'shared/navbar' %>

<div class="container about-container mt-3">
	<div class="row elegant">
		<div class="offset-md-1 col-md-7 about-info mt-3">
      <h3>Contactanos</h3>
      <%= form_tag pages_message_path do  %>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Nombre" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Empresa" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="Email" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control mt-2" placeholder="Teléfono" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Mensaje" rows="3" required></textarea>
              </div>
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
              <button class="btn btn-light" type="submit">Enviar</button>
            </div>
          </div>
        <% end %>
		</div>
		<div class="col-md-4 mt-3 middle-align ">
			<figure class="figure ">
				<%= image_tag 'logo.png', class: 'figure-img img-fluid ' %>
			</figure>

		</div>
	</div>
</div>
