<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 mt-3 ">
			<div class="">
				<figure class="figure">
		          <%= image_tag 'Ortuzar1.jpg', class: 'link-img img-fluid' %>
		          <figcaption class="figure-caption ">Lumi Iluminaciones</figcaption>
		        </figure>
				
			</div>
		</div>
		<div class="col-md-6 mt-3">
			<div class="">
				<figure class="figure">
		          <%= image_tag 'Ortuzar1.jpg', class: 'link-img img-fluid' %>
		          <figcaption class="figure-caption ">Ox</figcaption>
		        </figure>
				
			</div>
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 mt-3 mh-main-info">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, reprehenderit, sit. Illum nisi quia quisquam culpa quaerat fuga, natus, beatae dicta, laborum eos ut omnis! Ratione veniam nemo, odio dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab numquam, hic a porro, placeat illum. Laboriosam tempora repellendus ducimus voluptates dolorum, veritatis obcaecati, suscipit, fugit cum exercitationem aut consequuntur neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus commodi, quaerat optio repudiandae. Consequatur aliquid harum omnis dolore fugit, cum, amet libero commodi praesentium provident cupiditate vitae voluptatibus officia sunt.
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta alias labore adipisci provident eos dolores corporis, in minima officia maxime quisquam reprehenderit ad veniam quis similique quaerat totam recusandae expedita.
			</p>
		</div>
	</div>
</div>