<%= render 'shared/mh3-navbar' %>

<div class="container mt-3">

	<div class="row d-flex align-items-stretch">
		<div class="col-md-6 p-0">
			<div class="mh3-menu w-100 lumi-select ">
				<div class="caption-mh3-menu text-center">
					<%= image_tag 'logo.png', class: 'logo' %>
					<p>Acero inoxidable, aluminio, comodidad en el hogar.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 p-0">
			<div class="mh3-menu w-100 ox-select ">
				<div class="caption-mh3-menu text-center">
					<%= image_tag 'lumi.png', class: 'logo' %>
					<p>Iluminación para construcción y paisajismo.</p>
				</div>
			</div>
		</div>
	</div>

	
	
</div>

