// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}




.elegant{
	box-shadow: 1px 1px 2px #070707;

	border-right: 1px solid rgba(0,0,0,.4);
	border-left: 1px solid rgba(255,255,255,.3);
	

}
.bkg-full-pro{
	height: 100%;
     background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    .ghost{
		opacity: 0;
    	filter: alpha(opacity=50)
	}
}

.bkg-1{
	background-image: url('Ortuzar2.jpg');
}
div{
	overflow: hidden;
}
.parent-link:hover .link-to-projects{
  transform: scale(1.02);
  overflow: hidden;

}

.link-to-projects{
	transition: all .8s;
}

.image-wrapper{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;

	h3{
		position: absolute;
	    left: 0;
	    bottom: 2%;
	    padding: 5%;
	    width: 100%;
	    color: #FFF;

	    background-color: rgba(0, 0, 0, 0.78);
	    font-size: 3vw;
	    box-sizing: border-box;
	}
	h4{
		position: absolute;
	    left: 10px;
	    right: 10px;
	    bottom: 1%;
	    padding: 3%;
	    width: 80%;
	    color: #FFF;
	    text-align: right;
	    background-color: rgba(0, 0, 0, 0.78);
	    font-size: 1vw;
	    box-sizing: border-box;
	    -webkit-transition: bottom 0.3s; /* Safari */
    	transition: bottom 0.3s;
    	-webkit-transition: box-shadow 0.3s; /* Safari */
    	transition: box-shadow 0.3s;
	}
	h4:hover{
		bottom: 2%;
		box-shadow: 1px 1px 2px 1px #474747;

	}
}



.demo{
	border: 1px solid white;
	height: 300px;
}

.product-carousel{
	border: 1px solid #c8c8c8;


}

nav{
	background: linear-gradient(to right, #474747 , #272727);
}

body{
	margin: 10px;

	background: linear-gradient(to left, #474747 , #272727);
}
footer{
	background-color: #272727;
	padding-top: 20px;
	padding-bottom: 20px;
}
.logo-box{
	text-align: center;
}
.footer-logo{
	width: 300px !important;
}

.middle-align{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mr-top{
	margin-top: 10px;
}

.mr-bot{
	margin-bottom: 10px;
}

.mr-right{
	margin-right: 10px;
}

.no-pad{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.pad-r{
	padding-left: 0px !important;
}
.logo{
	width: 100px;

}
.logo-caption{
	width: 200px !important;
}
.carousel-caption{
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	background-color: rgba(33, 33, 33, 0.3);
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.bkg-img{

}

//////////ox index//////////
.carousel-caption{
	text-align: left !important;
	p{
		text-align: justify;
	}
}


.carousel-inner{
	.carousel-item{
		height: 80vh !important;
	}

}


//////////ox index end ///////////

////////mh3////////////
.mh-main-info{
	color:white;
	border-top: 1px solid #c8c8c8;
	p{
		padding: 10px;
	}

}
.product-carousel{
	height:30% !important;
}

.image-wrapper-mh3{
	position: relative;
	box-sizing: border-box;
	background-image: url(/assets/Ortuzar2.jpg);
	background-repeat: no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
	.ghost{
		opacity: 0;
    	filter: alpha(opacity=50)
	}


	.cap{
		position: absolute;
	    left: 0;
	    bottom: 2%;
	    padding: 5%;
	    width: 100%;
	    height: 30%;
	    color: #FFF;
	    background-color: rgba(0, 0, 0, 0.78);
	    box-sizing: border-box;
	    text-align: right;
	    img{
	    	width: 200px;
	    }
	}
}

/////mh3 end/////////////

figcaption{
	position: absolute;
   bottom: 10px;
   left: 0;

  	padding: 10px;
   color: white !important;
   font-size: 40px !important;
   font-weight: bolder !important;
  background-color: rgba(33, 33, 33, 0.5);
}
.figure{
	margin: 0px !important;
}

.link-img{
	position: relative !important;
}

.lumi-link{
	display: inline-block !important;
    width: 100% !important;
    text-align: right !important;
}
// css footer
footer{
  color: white;
  h2{
  	font-weight: bolder;

  }
  
}
footer a{
  color: #474747;
}
footer a:hover{
  color: #565656;
}

.footer-bottom{
  background: #464646b0;
  padding: 2em;
}
.footer-top{
  background: #c8c8c8;
}
.footer-middle{
   background: linear-gradient(white, #d8d8d8);
  padding-top: 2em;
  color: #474747;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.logos-footer{
	text-align: right;
	ul{
		list-style: none !important;
	}
}


///////////aboutcss////////////
.about-container{
	background: linear-gradient(to bottom right, white, #c8c8c8);
	.about-info{
		padding: 20px;
		color: #575757;
		text-align: justify;
	}
}

/////////about css end////////
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}




.card:hover{
	box-shadow: 0px 1px 1px #c8c8c8;
}

.cat-menu{
	position: fixed;
	.menu-cat-col{
		border-right: 1px solid #c8c8c8;
	}

}

.w-body{
	  background: linear-gradient(white, #d8d8d8);
	padding: 10px 0px 10px 0px;
}

.show-product{
	figure{
	padding: 10px;
		img{

		}
	}
	ul{
		list-style: none !important;
		margin: 10px;
		li{
			border-bottom: 1px solid #c8c8c8;
			padding: 5px;
		}
	}
}
