<div class="sp-loading"><%= image_tag 'sp-loading.gif' %><br>LOADING IMAGES</div>
<div class="sp-wrap">
  <% @product.photos.each do |photo| %>
	  <a href=""><%= image_tag photo.image %></a>
  <% end %>
</div>
